quarkus.datasource.db-kind=mysql
quarkus.datasource.db-username=projedata
quarkus.datasource.db-password=12345678
quarkus.datasource.jdbc:mysql://localhost:3306/crudprojedata

quarkus.hibernate-orm.database.generation=update
quarkus.hibernate-orm.log.sql=true

quarkus.https.cors=true
quarkus.https.cors.origins=https://localhost:5173